<div class="bg-image"></div>
<app-best-seller></app-best-seller>

<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <mat-icon>school</mat-icon> Portál semestrálnych prác
    </a>
    <ul>
      <li>
        <a (click)="handleLoginAction()">Prihlásenie </a>
        <a (click)="handleSignupAction()">Registrácia </a>
        <a (click)="handleForgotPasswordAction()">Zabudnuté heslo </a>
      </li>
    </ul>
  </nav>
</div>
<div class="footer" id="signup">
  <h2>ŽILINSKÁ UNIVERZITA V ŽILINE</h2>
</div>